<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/webcam" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" /> <!-- default mjpeg -->
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_frame_id" value="webcam_c920" />
    <param name="framerate" value="30" />
    <param name="camera_name" value="webcam" />
    <param name="camera_info_url" value="file://$(find data_recording)/config/webcam.yaml" />
  </node>
</launch>
